################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Dispenser/.vs/Dispenser
/Dispenser/Dispenser/Dispenser/obj
/Dispenser/Dispenser/Dispenser/bin/Debug/netstandard2.0
/Dispenser/Dispenser/Dispenser.Android/obj
/Dispenser/Dispenser/Dispenser.Android/bin/Debug
/Dispenser/Dispenser/Dispenser.iOS/obj
/Dispenser/Dispenser/Dispenser/bin/Release/netstandard2.0
/Dispenser/Dispenser/Dispenser.Android/bin/Release
